html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Ubuntu', sans-serif;
    color: hsl(210, 40%, 10%);
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 20px;
}